ClienteConsola/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListadoAlbum">
        <s:complexType />
      </s:element>
      <s:element name="ListadoAlbumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListadoAlbumResult" type="tns:ArrayOfVOAlbum" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVOAlbum">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOAlbum" nillable="true" type="tns:VOAlbum" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VOAlbum">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnioCreacion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdBanda" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneroMusical" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Canciones" type="tns:ArrayOfVOCancion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVOCancion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOCancion" nillable="true" type="tns:VOCancion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VOCancion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Anio" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneroMusical" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duracion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCantante" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="anioCreacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="generoMusical" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idBanda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaAlbumResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAlbum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaAlbumResponse">
        <s:complexType />
      </s:element>
      <s:element name="AgregarCancionAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCancion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlbum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCancionAlbumResponse">
        <s:complexType />
      </s:element>
      <s:element name="QuitarCancionAlbum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCancion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idAlbum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuitarCancionAlbumResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarBandas">
        <s:complexType />
      </s:element>
      <s:element name="ListarBandasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarBandasResult" type="tns:ArrayOfVOBanda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVOBanda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOBanda" nillable="true" type="tns:VOBanda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VOBanda">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnioCreacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GeneroMusical" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Integrantes" type="tns:ArrayOfVOCancion" />
          <s:element minOccurs="1" maxOccurs="1" name="AnioSeparacion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaBanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generoMusical" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="anioC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="anioS" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaBandaResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaBanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idBanda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaBandaResponse">
        <s:complexType />
      </s:element>
      <s:element name="AgregarIntegranteBanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idIntegrante" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idBanda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarIntegranteBandaResponse">
        <s:complexType />
      </s:element>
      <s:element name="QuitarIntegranteBanda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idIntegrante" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idBanda" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuitarIntegranteBandaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarCanciones">
        <s:complexType />
      </s:element>
      <s:element name="ListarCancionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarCancionesResult" type="tns:ArrayOfVOCancion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCancion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="duracion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantante" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="anio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaCancionResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaCancion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCancion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaCancionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarIntegrante">
        <s:complexType />
      </s:element>
      <s:element name="ListarIntegranteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarIntegranteResult" type="tns:ArrayOfVOIntegrante" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVOIntegrante">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOIntegrante" nillable="true" type="tns:VOIntegrante" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VOIntegrante">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AltaIntegrante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaNacimiento" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaIntegranteResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaIntegrante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idIntegrante" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaIntegranteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListadoAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:ListadoAlbum" />
  </wsdl:message>
  <wsdl:message name="ListadoAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:ListadoAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="AltaAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:AltaAlbum" />
  </wsdl:message>
  <wsdl:message name="AltaAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:AltaAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="BajaAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:BajaAlbum" />
  </wsdl:message>
  <wsdl:message name="BajaAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:BajaAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarCancionAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCancionAlbum" />
  </wsdl:message>
  <wsdl:message name="AgregarCancionAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarCancionAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="QuitarCancionAlbumSoapIn">
    <wsdl:part name="parameters" element="tns:QuitarCancionAlbum" />
  </wsdl:message>
  <wsdl:message name="QuitarCancionAlbumSoapOut">
    <wsdl:part name="parameters" element="tns:QuitarCancionAlbumResponse" />
  </wsdl:message>
  <wsdl:message name="ListarBandasSoapIn">
    <wsdl:part name="parameters" element="tns:ListarBandas" />
  </wsdl:message>
  <wsdl:message name="ListarBandasSoapOut">
    <wsdl:part name="parameters" element="tns:ListarBandasResponse" />
  </wsdl:message>
  <wsdl:message name="AltaBandaSoapIn">
    <wsdl:part name="parameters" element="tns:AltaBanda" />
  </wsdl:message>
  <wsdl:message name="AltaBandaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaBandaResponse" />
  </wsdl:message>
  <wsdl:message name="BajaBandaSoapIn">
    <wsdl:part name="parameters" element="tns:BajaBanda" />
  </wsdl:message>
  <wsdl:message name="BajaBandaSoapOut">
    <wsdl:part name="parameters" element="tns:BajaBandaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarIntegranteBandaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarIntegranteBanda" />
  </wsdl:message>
  <wsdl:message name="AgregarIntegranteBandaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarIntegranteBandaResponse" />
  </wsdl:message>
  <wsdl:message name="QuitarIntegranteBandaSoapIn">
    <wsdl:part name="parameters" element="tns:QuitarIntegranteBanda" />
  </wsdl:message>
  <wsdl:message name="QuitarIntegranteBandaSoapOut">
    <wsdl:part name="parameters" element="tns:QuitarIntegranteBandaResponse" />
  </wsdl:message>
  <wsdl:message name="ListarCancionesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarCanciones" />
  </wsdl:message>
  <wsdl:message name="ListarCancionesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarCancionesResponse" />
  </wsdl:message>
  <wsdl:message name="AltaCancionSoapIn">
    <wsdl:part name="parameters" element="tns:AltaCancion" />
  </wsdl:message>
  <wsdl:message name="AltaCancionSoapOut">
    <wsdl:part name="parameters" element="tns:AltaCancionResponse" />
  </wsdl:message>
  <wsdl:message name="BajaCancionSoapIn">
    <wsdl:part name="parameters" element="tns:BajaCancion" />
  </wsdl:message>
  <wsdl:message name="BajaCancionSoapOut">
    <wsdl:part name="parameters" element="tns:BajaCancionResponse" />
  </wsdl:message>
  <wsdl:message name="ListarIntegranteSoapIn">
    <wsdl:part name="parameters" element="tns:ListarIntegrante" />
  </wsdl:message>
  <wsdl:message name="ListarIntegranteSoapOut">
    <wsdl:part name="parameters" element="tns:ListarIntegranteResponse" />
  </wsdl:message>
  <wsdl:message name="AltaIntegranteSoapIn">
    <wsdl:part name="parameters" element="tns:AltaIntegrante" />
  </wsdl:message>
  <wsdl:message name="AltaIntegranteSoapOut">
    <wsdl:part name="parameters" element="tns:AltaIntegranteResponse" />
  </wsdl:message>
  <wsdl:message name="BajaIntegranteSoapIn">
    <wsdl:part name="parameters" element="tns:BajaIntegrante" />
  </wsdl:message>
  <wsdl:message name="BajaIntegranteSoapOut">
    <wsdl:part name="parameters" element="tns:BajaIntegranteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ListadoAlbum">
      <wsdl:input message="tns:ListadoAlbumSoapIn" />
      <wsdl:output message="tns:ListadoAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaAlbum">
      <wsdl:input message="tns:AltaAlbumSoapIn" />
      <wsdl:output message="tns:AltaAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaAlbum">
      <wsdl:input message="tns:BajaAlbumSoapIn" />
      <wsdl:output message="tns:BajaAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCancionAlbum">
      <wsdl:input message="tns:AgregarCancionAlbumSoapIn" />
      <wsdl:output message="tns:AgregarCancionAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuitarCancionAlbum">
      <wsdl:input message="tns:QuitarCancionAlbumSoapIn" />
      <wsdl:output message="tns:QuitarCancionAlbumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarBandas">
      <wsdl:input message="tns:ListarBandasSoapIn" />
      <wsdl:output message="tns:ListarBandasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaBanda">
      <wsdl:input message="tns:AltaBandaSoapIn" />
      <wsdl:output message="tns:AltaBandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaBanda">
      <wsdl:input message="tns:BajaBandaSoapIn" />
      <wsdl:output message="tns:BajaBandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarIntegranteBanda">
      <wsdl:input message="tns:AgregarIntegranteBandaSoapIn" />
      <wsdl:output message="tns:AgregarIntegranteBandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuitarIntegranteBanda">
      <wsdl:input message="tns:QuitarIntegranteBandaSoapIn" />
      <wsdl:output message="tns:QuitarIntegranteBandaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarCanciones">
      <wsdl:input message="tns:ListarCancionesSoapIn" />
      <wsdl:output message="tns:ListarCancionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaCancion">
      <wsdl:input message="tns:AltaCancionSoapIn" />
      <wsdl:output message="tns:AltaCancionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaCancion">
      <wsdl:input message="tns:BajaCancionSoapIn" />
      <wsdl:output message="tns:BajaCancionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarIntegrante">
      <wsdl:input message="tns:ListarIntegranteSoapIn" />
      <wsdl:output message="tns:ListarIntegranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AltaIntegrante">
      <wsdl:input message="tns:AltaIntegranteSoapIn" />
      <wsdl:output message="tns:AltaIntegranteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaIntegrante">
      <wsdl:input message="tns:BajaIntegranteSoapIn" />
      <wsdl:output message="tns:BajaIntegranteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoAlbum">
      <soap:operation soapAction="http://tempuri.org/ListadoAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaAlbum">
      <soap:operation soapAction="http://tempuri.org/AltaAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAlbum">
      <soap:operation soapAction="http://tempuri.org/BajaAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCancionAlbum">
      <soap:operation soapAction="http://tempuri.org/AgregarCancionAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarCancionAlbum">
      <soap:operation soapAction="http://tempuri.org/QuitarCancionAlbum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBandas">
      <soap:operation soapAction="http://tempuri.org/ListarBandas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaBanda">
      <soap:operation soapAction="http://tempuri.org/AltaBanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaBanda">
      <soap:operation soapAction="http://tempuri.org/BajaBanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarIntegranteBanda">
      <soap:operation soapAction="http://tempuri.org/AgregarIntegranteBanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarIntegranteBanda">
      <soap:operation soapAction="http://tempuri.org/QuitarIntegranteBanda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCanciones">
      <soap:operation soapAction="http://tempuri.org/ListarCanciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCancion">
      <soap:operation soapAction="http://tempuri.org/AltaCancion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCancion">
      <soap:operation soapAction="http://tempuri.org/BajaCancion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarIntegrante">
      <soap:operation soapAction="http://tempuri.org/ListarIntegrante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaIntegrante">
      <soap:operation soapAction="http://tempuri.org/AltaIntegrante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaIntegrante">
      <soap:operation soapAction="http://tempuri.org/BajaIntegrante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoAlbum">
      <soap12:operation soapAction="http://tempuri.org/ListadoAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaAlbum">
      <soap12:operation soapAction="http://tempuri.org/AltaAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAlbum">
      <soap12:operation soapAction="http://tempuri.org/BajaAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCancionAlbum">
      <soap12:operation soapAction="http://tempuri.org/AgregarCancionAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarCancionAlbum">
      <soap12:operation soapAction="http://tempuri.org/QuitarCancionAlbum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBandas">
      <soap12:operation soapAction="http://tempuri.org/ListarBandas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaBanda">
      <soap12:operation soapAction="http://tempuri.org/AltaBanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaBanda">
      <soap12:operation soapAction="http://tempuri.org/BajaBanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarIntegranteBanda">
      <soap12:operation soapAction="http://tempuri.org/AgregarIntegranteBanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitarIntegranteBanda">
      <soap12:operation soapAction="http://tempuri.org/QuitarIntegranteBanda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCanciones">
      <soap12:operation soapAction="http://tempuri.org/ListarCanciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaCancion">
      <soap12:operation soapAction="http://tempuri.org/AltaCancion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCancion">
      <soap12:operation soapAction="http://tempuri.org/BajaCancion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarIntegrante">
      <soap12:operation soapAction="http://tempuri.org/ListarIntegrante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AltaIntegrante">
      <soap12:operation soapAction="http://tempuri.org/AltaIntegrante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaIntegrante">
      <soap12:operation soapAction="http://tempuri.org/BajaIntegrante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:64787/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:64787/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>